body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    color: #82868e;
    background-color: #19191d;
    a{
        color: #82868e;
        text-decoration: none;
    }
    li{
        list-style: none;
        text-decoration: none;
    }
}